services:
  web:
    build: .
    container_name: dse_web
    command: gunicorn document_search_engine.wsgi:application -b 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - qdrant

  celery:
    build: .
    container_name: dse_celery
    command: celery -A document_search_engine worker -l INFO --pool=solo
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
      - qdrant

  qdrant:
    image: qdrant/qdrant
    container_name: dse_qdrant
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  redis:
    image: redis:6
    container_name: dse_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  qdrant_data: