## ==== SERVER SETTINGS ====
# DJANGO SETTINGS
ENVIRONMENT="server"
DJANGO_SECRET=<add your secret here>

# ======== OpenAI Settings ========
OPENAI_KEY=<add your openai API key here>
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
# ======== QDRANT Settings ========
QDRANT_HOST=qdrant
QDRANT_PORT=6333

# ===== CELERY HOST ====
CELERY_BROKER_HOST=redis